<div class="field-unit__label">
  <%= f.label "Location" %>
</div>
<div class="field-unit__field">
  <%= f.text_field 'location_lat', value: field.latitude, placeholder: "Latitude" %><br/>
	<%= f.text_field 'location_lng', value: field.longitude , placeholder: "Longitude" %>
</div>