<div class="section-block bkg-grey-ultralight testimonial-2 color-white" style="background-image: url('<%=  article.image_url %>')">
	<div class="row">
		<div class="column width-12">
			<div class="row">
				<div class="column width-3">
					<h6 class="no-margin-bottom weight-bold"><%= link_to title, article_path(article) %></h6>
					<p><%= link_to article.title, article_path(article) %></p>
				</div>
				<div class="column width-9">
					<div class="row">
						<div class="column width-10">
							<blockquote class="large left">
								<%= link_to article.excerpt.html_safe, article_path(article) %>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>