<div class="post-comments">
	<h3 class="comments-title">3 Comments</h3>
	<div class="comments">
		<ul class="comment-list">
			<li>
				<article class="comment">
					<div class="user-avatar">
						<img src="images/blog/comment-avatar.jpg" alt="Avatar"/>
					</div>
					<div class="comment-content">
						<h5 class="name">John Andersson</h5>
						<div class="comment-meta">
							<span class="post-date">17 Jul 2015</span>/<a href="#" class="comment-reply-link">Reply</a>            
						</div>
						<p>Whistler Mountain is a mountain in the Fitzsimmons Range of the Pacific Ranges of the Coast Mountains, located on the northwestern.</p>
					</div>
				</article>
				<ul>
					<li>
						<article class="comment">
							<div class="user-avatar">
								<img src="images/blog/comment-avatar-3.jpg" alt="Avatar"/>
							</div>
							<div class="comment-content">
								<h5 class="name">Emma Courtier</h5>
								<div class="comment-meta">
									<span class="post-date">23 Jul 2015</span>/<a href="#" class="comment-reply-link">Reply</a>            
								</div>
								<p>Whistler Mountain is a mountain in the Fitzsimmons Range of the Pacific Ranges of the Coast Mountains, located on the northwestern.</p>
							</div>
						</article>
					</li>
				</ul>
			</li>
			<li>
				<article class="comment">
					<div class="user-avatar">
						<img src="images/blog/comment-avatar-2.jpg" alt="Avatar"/>
					</div>
					<div class="comment-content">
						<h5 class="name">Michael Cunningham</h5>
						<div class="comment-meta">
							<span class="post-date">24 Jul 2015</span>/<a href="#" class="comment-reply-link">Reply</a>            
						</div>
						<p>Whistler Mountain is a mountain in the Fitzsimmons Range of the Pacific Ranges of the Coast Mountains, located on the northwestern.</p>
					</div>
				</article>
			</li>
		</ul>
	</div>
</div>
<div class="post-comment-respond">
	<h3 class="reply-title">Leave a Comment</h3>
	<form class="comment-form" action="#" method="post" novalidate>
		<div class="row">
			<div class="column width-4">
				<input type="text" name="fname" class="form-name form-element" placeholder="Name*" tabindex="1" required>
			</div>
			<div class="column width-4">
				<input type="email" name="email" class="form-email form-element" placeholder="Email*" tabindex="3" required>
			</div>
			<div class="column width-4">
				<input type="text" name="website" class="form-website form-element" placeholder="Website" tabindex="4">
			</div>
			<div class="column width-6">
				<input type="text" name="honeypot" class="form-honeypot form-element">
			</div>
		</div>
		<div class="row">
			<div class="column width-12">
				<textarea name="message" class="form-message form-element" placeholder="Message*" tabindex="5" required></textarea>
				<input type="submit" value="Post Comment" class="form-submit button medium bkg-black bkg-hover-theme color-white color-hover-white no-margin-bottom">
			</div>
		</div>
	</form>
</div>