<!-- Footer -->
<footer class="footer">
	<div class="footer-top">
		<div class="row flex">
			<div class="column width-3">
				<div class="widget">
					<h4 class="widget-title"><strong>La Ciudad de México</strong><br>en el Tiempo</h4>
				</div>
			</div>
			<div class="column width-2">
				<div class="widget">
					<ul>
						<li>
							<%= link_to 'Nuestra colección', pictures_path %>
						</li>
						<li>
							<%= link_to 'Las 10 de la semana', weekly_ten_path %>
						</li>
					</ul>
				</div>
			</div>
			<div class="column width-2">
				<div class="widget">
					<ul>
						<li>
							<%= link_to 'Artículos y rutas', articles_path %>
						</li>
						<li>
							<%= mail_to 'contacto@cdmxeneltiempo.com', 'Contáctanos' %>
						</li>
					</ul>
				</div>
			</div>
			<div class="column width-5 right left-on-mobile">
				<div class="widget">
					<ul class="social-list list-horizontal">
						<li><a href="https://twitter.com/cdmexeneltiempo" target="_blank"><span class="icon-twitter small"></span></a></li>
						<li><a href="https://www.facebook.com/laciudaddemexicoeneltiempo/" target="_blank"><span class="icon-facebook small"></span></a></li>
					</ul>
					<p class="copyright">
						Todos los derechos reservados <br>La Ciudad de México en el tiempo.
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer End -->