<!-- Footer -->
<footer class="footer">
	<div class="footer-top">
		<div class="row flex">
			<div class="column width-3">
				<div class="widget">
					<h4 class="widget-title"><strong>Sartre.</strong><br>Photography</h4>
				</div>
			</div>
			<div class="column width-4">
				<div class="widget">
					<ul>
						<li>
							<a href="#">The Studio</a>
						</li>
						<li>
							<a href="#">Private Collection</a>
						</li>
						<li>
							<a href="#">International Recognition</a>
						</li>
						<li>
							<a href="#">Awards</a>
						</li>
						<li>
							<a href="#">Get In Touch</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="column width-5 right left-on-mobile">
				<div class="widget">
					<ul class="social-list list-horizontal">
						<li><a href="#"><span class="icon-twitter small"></span></a></li>
						<li><a href="#"><span class="icon-facebook small"></span></a></li>
						<li><a href="#"><span class="icon-instagram small"></span></a></li>
					</ul>
					<p class="copyright">
						All photography is the property of <br>Sartre Photography Inc.<br>
						&copy; ThemeMountain. All Rights Reserved.
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer End -->