<!-- Map Section -->
<div class="section-block no-padding">
	<div class="row collapse full-width">
		<div class="column width-12 center">
			<div class="map-container" data-coordinates="[[40.723301,-74.002988]]" data-icon='"images/assets/map-marker.png"' data-info='"Downtown New York Office<br>44 St. West 32"' data-zoom-level="13" data-style="color">
				<div class="map-canvas" id="map-canvas-1"></div>
			</div>
		</div>
	</div>
</div>
<!-- Map Section End -->