<div class="section-block bkg-grey-ultralight">
	<div class="row">
		<div class="column width-4">
			<h3 class="mb-50">Lightbox &amp; Google Map</h3>
		</div>
		<div class="column width-8">
			<p>Don't want to pollute a beautiful layout with a map or need to show multiple maps in a single page? Launch it using Summit lightbox, simple, elegant and effective.</p>
			<a data-content="iframe" data-toolbar="" href="http://maps.google.com?q=40.723301,-74.002988&amp;output=embed&amp;z=18" class="lightbox-link button bkg-theme bkg-hover-theme color-white color-hover-white"><span class="icon-map left"></span> Google Map Lightbox Mode</a>
			<a data-content="iframe" data-toolbar="" data-modal-mode href="http://maps.google.com?q=40.723301,-74.002988&amp;output=embed&amp;z=18" class="lightbox-link button bkg-theme bkg-hover-theme color-white color-hover-white"><span class="icon-map left"></span> View Google Modal Mode</a>
		</div>
	</div>
</div>