<div class="post-info actions">
	<span><%= resource_name %> <%= time_ago_in_words(resource.created_at) %></span>
	<% if resource.has_owner? %>
		/<span class="post-date">Por <a href="https://twitter.com/rod_hidalgo" target="_blank"><%= resource.user.name %></a></span>
	<% end %>
</div>