<div class="section-block team-2 pt-110 pb-50 no-padding-top">
	<div class="row">
		<div class="column width-10 offset-1 content-inner blog-regular">
			<h3 class="title padding-top center"><%= title %></h3>
			<div class="row content-grid-2">
				<div class="grid-item">
					<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
						<img src="/assets/slide-5-fs.jpg" alt="" style="transition-duration: 500ms;" height="500" width="760">
					</div>
					<div class="team-content-info">
						<h4 class="mb-5">Jason Ford</h4>
						<h4 class="occupation">Developer</h4>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
						<ul class="social-list list-horizontal">
							<li><a href="#"><span class="icon-facebook small"></span></a></li>
							<li><a href="#"><span class="icon-twitter small"></span></a></li>
							<li><a href="#"><span class="icon-github small"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="grid-item">
					<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
						<img src="/assets/slide-5-fs.jpg" alt="" style="transition-duration: 500ms;" height="500" width="760">
					</div>
					<div class="team-content-info">
						<h4 class="mb-5">Michael Andrews</h4>
						<h4 class="occupation">Designer</h4>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non.</p>
						<ul class="social-list list-horizontal">
							<li><a href="#"><span class="icon-facebook small"></span></a></li>
							<li><a href="#"><span class="icon-twitter small"></span></a></li>
							<li><a href="#"><span class="icon-dribbble small"></span></a></li>
							<li><a href="#"><span class="icon-behance small"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>