	<div class="section-block clients-1 replicable-content bkg-grey-ultralight">
		<div class="row flex">
			<div class="column width-3">
				<h3 class="mb-50">Difusión</h3>
			</div>
			<div class="column width-9">
				<div class="row content-grid-3 flex">
					<div class="grid-item">
						<h5 class="client-name">La Ciudad de México en el tiempo</h5>
						<span class="client-description font-alt-1">
							<a href="http://oncetv-ipn.net/la-ciudad-de-mexico-en-el-tiempo/" target="_blank">
							Cápsula de televisión en el Canal Once</a>
						</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">La Ciudad en el Tiempo</h5>
						<span class="client-description font-alt-1">
							<a href="http://www.eluniversal.com.mx/tag/la-ciudad-en-el-tiempo" target="_blank">
							Sección semanal en el diario <i>El Universal</i></a>
						</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">La Ciudad de México en el Tiempo</h5>
						<span class="client-description font-alt-1">
							<a href="http://www.codigoradio.cultura.df.gob.mx/index.php/luces-de-la-ciudad/24039-febrero-5-2017" target="_blank">
							Cápsula de radio en Luces de la Ciudad</a>
						</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">Por mi barrio</h5>
						<span class="client-description font-alt-1">
							<a href="https://www.maspormas.com/tag/por-mi-barrio/" target="_blank">
							Sección semanal en el diario <i>Máspormás</i></a>
						</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">Exposición "Roma Condesa, 11 años de historia"</h5>
						<span class="client-description font-alt-1">
							<a href="http://elmodo.mx/exposiciones/roma-condesa-2/" target="_blank">
							Museo del Objeto del Objeto (MODO)</i></a>
						</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">Exposición "La Historia de la Villa de Guadalupe"</h5>
						<span class="client-description font-alt-1">
							<a href="https://www.facebook.com/ItinerarioTv/videos/454654261272271/" target="_blank">
							Museo de los Ferrocarrileros</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>