	<div class="section-block clients-1 replicable-content bkg-grey-ultralight">
		<div class="row flex">
			<div class="column width-3">
				<h3 class="mb-50">Difusión</h3>
			</div>
			<div class="column width-9">
				<div class="row content-grid-3 flex">
					<div class="grid-item">
						<h5 class="client-name">La Ciudad de México en el tiempo</h5>
						<span class="client-description font-alt-1">Cápsula de televisión semanal en el Canal Once</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">La Ciudad en el tiempo</h5>
						<span class="client-description font-alt-1">Sección semanal en el diaro El Universal</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">Un paseo por el tiempo</h5>
						<span class="client-description font-alt-1">Sección semanal en el diario Récord</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">La Ciudad de México en el tiempo</h5>
						<span class="client-description font-alt-1">Cápsula de televisión semanal en TeleFórmula</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">Voces</h5>
						<span class="client-description font-alt-1">Sección bimestral en la revista Kilómetro Cero</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">Por mi barrio</h5>
						<span class="client-description font-alt-1">Sección semanal en el diario Máspormás</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">La Ciudad de México en el tiempo</h5>
						<span class="client-description font-alt-1">Cápsula de radio semanal en Luces de la Ciudad</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">La historia de la Villa de Guadalupe</h5>
						<span class="client-description font-alt-1">En Museo de los Ferrocarrileros</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">Roma Condesa, 111 años de historia</h5>
						<span class="client-description font-alt-1">En Museo del Objeto del Objeto</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">Paseando por la ciudad. Fotografías de Manuel Ramos, 1900-1940</h5>
						<span class="client-description font-alt-1">En las rejas del Bosque de Chapultepec</span>
					</div>
					<div class="grid-item">
						<h5 class="client-name">Y se nos movió el piso: A treinta años del sismo</h5>
						<span class="client-description font-alt-1">En la Biblioteca Vasconcelos</span>
					</div>
				</div>
			</div>
		</div>
	</div>